* {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter_24pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.header-menu ul {
    list-style: none;
    position: absolute;
    left: 60px;
}
.header-menu ul li{
    display: inline-flex;
    line-height: 40px;
    text-align: left;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    height: 40px;
    background: white;
    border-bottom: 2px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.logo {
    align-self: center;
    height: 35px;
}
.header-menu a{
    margin: 0 10px;
    text-decoration: none;
    color: #57626B;
    font-size: 12px;
    font-weight: 500;
}
.header-menu a:hover{
    color: #1A73E8;
}
.icons-menu {
margin: 0 5px;
font-size: 18px;
cursor: pointer;
line-height: 35px;
}
.icon {
    width: 20px;
    height: 20px;
    margin: 0 8px;
    cursor: pointer;
    vertical-align: middle;
}
<<<<<<< HEAD

.img-article-main{
    width: 100%;
    height: 100%;
    position: absolute;
}
=======
aside{
    text-align: right;
    padding-right: 10%;
}
h1{
    font-size: 42px;
    padding-top: 5%;
    padding-bottom: 3%;
}
h2{  
  font-size: 20px;
  padding-bottom: 3%;
}
p{
    font-size: 12px;
  padding-bottom: 5%;
}

    
    
>>>>>>> 3e57156ba83269f5294fb395ea320d5756ee6935
