* {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url('./font/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    min-height: 100vh; /* Hace que el cuerpo tenga al menos la altura de la ventana */
    margin: 0; /* Elimina márgenes */
  }

  a {
    text-decoration: none;
    color: inherit;
  }
   
.container {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header-menu ul {
    list-style: none;
    position: absolute;
    left: 60px;
}

.header-menu ul li{
    display: inline-flex;
    line-height: 40px;
    text-align: left;
}


.header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    height: 40px;
    background: white;
    border-bottom: 2px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
} 
.header-logo img{
    align-self: center;
    height: 30px;
}

.header-menu a{
    margin: 0 10px;
    text-decoration: none;
    color: #57626B;
    font-size: 12px;
    font-weight: 500;
}
.header-menu a:hover{
    color: #1a73e8;
}
.icons {
    margin: 0 3px;
    font-size: 18px;
    cursor: pointer;
    line-height: 35px;

}
.icon {
   width: 20px;
   height: 20px;
   margin: 0 8px;
   cursor: pointer;
   vertical-align: middle;
}
main {
    flex: 1; 
    /* Hace que el contenido principal ocupe el espacio disponible */
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    height: 40px;
    background: white;
    border-bottom: 2px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
  .logo img{
    align-self: center;
    height: 30px;
  }
  
  .header .nav a {
    align-self: center;
    margin: 0 10px;
    text-decoration: none;
    color: #57626B;
    font-size: 12px;
    font-weight: 500;
  }
  
  .nav a:hover{
    color: #1a73e8;
  }
  .product-page {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    align-items: center
  }
  .product-details-link {
    display: flex; /* Alinea el texto y el ícono en la misma línea */
    align-items: center; /* Centra el ícono verticalmente con el texto */
    gap: 0.5rem; /* Espaciado entre el ícono y el texto */
    position: absolute; /* Permite posicionar el elemento en la parte superior */
    top: 75px; /* Ajusta la distancia desde la parte superior */
    left: 2rem; /* Ajusta la distancia desde la izquierda */
    font-size: 12px;
    color: #57626B; /* Fuente similar */
    cursor: pointer; /* Cambia el cursor a "mano" al pasar sobre el texto */
  }
  .product-images {
    flex: 1;
    max-width: 200px;
  }
  
  .product-images a {
    display: block;
    margin-bottom: 30px;
  }
  
  .thumbnail img{
    display: flex;
    gap: 10px;
    width: 40px; /* Ajusta el tamaño del círculo */
    height: 40px;
    border-radius: 50%; /* Convierte la imagen en un círculo */
    object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del círculo */
    border: 2px solid #ccc; /* Opcional: Añade un borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
    transition: transform 0.2s ease; /* Efecto al pasar el cursor */
    margin: 0.5rem 0;
    padding: 2%;
  }
  
  .product-main {
    flex: 2;
    text-align: center;
    /*background-color: #b4b7b9;*/Falta fondo color imagen principal
  }
  
  .main-image {
    max-width: 200px;
  }
  
  .product-info {
    display: flex;
    flex-direction: column; /* Alinea verticalmente los elementos */
    align-items: flex-start; /* Alinea a la izquierda */
  }
  
  .product-info h1 {
      font-size: 35px; /* Tamaño del título */
      font-weight: bold; 
      color: #353A49;/* Negrita para destacar */
      
  }
  .product-info .price {
        font-size: 1rem;
        font-weight: bold;
        margin: 10px 0 10px 0;
        color: #353A49;
      }
      
  .product-info .category  {
   
    margin: 30px 10px 10px 0;
    font-size: 12px;
    color: #57626B;
  }
  .product-info .line {
    width: 100%; /* Ajusta al ancho del contenedor */
    height: 1px;
    margin: 20px 0;
    background-color: #57626B;
  }
  .colors p {
    font-size: 12px;
    color: #57626B;
  }
  .colors .color-options {
    display: flex;
    margin: 15px 0 25px  0;
  }
  
  .color {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #120f0f;
      }
  
  .color.blue { background: #C8DBFF;margin-left: 0; }
  .color.light-blue { background: #E5E5E5; }
  .color.black { background: #333333; }
  .color.green { background: #d8e1e8; }
  .color.orange { background: #FFFFE0; }
  .color.gris-oscuro { background: #d6915c; }
  
  .purchase {
    margin-top: 2rem;
    background-color: #F7F8F9;
    border-radius: 10px;
    
   
  }
  .price-box p {
    font-size: 35px; 
    font-weight: bold; 
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
      
  }
  .price-box .line {
    width: 400px; /* Ajusta al ancho del contenedor */
    height: 1px;
    margin: 16px 0;
    margin-left: 20px;
    background-color: #57626B;
  }
  
  .price-box .quantity {
    display: flex; /* Activa Flexbox */
    align-items: center;
  }
  
  .quantity {
    height: 100px;
  }
  #quantity{
    margin-right: 7px;
    margin-left: 20px;
    border: 1px solid #ddd; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
    padding: 0.4rem 1rem; /* Espaciado interno */
    font-size: 12px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el selector */
    width: 70px;
    height: 50px; /* Ancho personalizado */
    text-align: center; /* Centra el texto dentro */
  }
  .add-to-cart {
    display: flex;
    height: 50px;
    width: 100%;
    background: #4285f4;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
  }
  .delivery-options{
    display: flex; /* Activa Flexbox */
    align-items: center;
    margin-bottom: 20px;
  }
  .delivery{
    
    color: #57626B;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
  }
  .delivery span {
    font-weight: bold;
    color: #1a73e8;
  }
  

.footer {
    display: flex;
    width: 100%;
    color: #F8F9FA;
}

.sm-icons-footer {
    padding-left: 15%;
    position: relative;
    height: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    cursor: pointer;
}

.sm-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;  
}

.flag-icon {
    display: flex;
    position: relative;
    width: 20px;
    height: 18px;
    margin-right: 5px;  
    top: -3px; 
}
.Spain {
    display: flex;
    position: absolute;
    justify-items: space-between;
    margin-left: 800px;
    width: 200px;
    height: 25px;
    text-align:center;
    font-size: 8px;
    color: #57626B;
}
        
.texto-footer {
    display: flex;
    padding-right: 15%;
    margin-left: auto;
    justify-content: space-between;
    text-align: right;
    height: 25px;
    width: 40%;
    font-size: 8px;
    color: #57626B;
 }



 
 
